<div class="content-wrap" ng-controller="frozenController">
    <div class="panel panel-default">
        <panel_heading_search bind-ui="frozenHeaderGrid">

            <div class="panel-group">
                <label>质押单号</label><input type="text" ng-model="query.id"/>
            </div>

            <div class="panel-group">
                <label>货主</label>
                <div class="select-wrapper">
                    <div class="select-border"></div>
                    <wms-ui-select ui-select-name="query.cargoOwnerId" ui-select-id="query.cargoOwnerId" src="cargoOwnerSrc" on-select=$parent.cargoOwnerIdChange($item,$models)></wms-ui-select>
                </div>
            </div>

            <div class="panel-group">
                <label>质押类型</label>
                <div class="select-wrapper">
                    <div class="select-border"></div>
                    <l-select src="FactoringType" name="query.factoringType" id="query.factoringType "></l-select>
                </div>
            </div>

            <div class="panel-group">
                <label>单据状态</label>
                <div class="select-wrapper">
                    <div class="select-border"></div>
                    <l-select src="TicketStatus" name="query.statusCode" id="query.statusCode"></l-select>
                </div>
            </div>


            <div class="panel-group ">
                <label>质押开始时间</label>
                <wms-Date-Time-Picker id="startTime"  format="yyyy/MM/dd 00:00:00" is-query="true"/>
            </div>
            <div class="panel-group ">
                <label>质押开始时间</label>
                <wms-Date-Time-Picker id="endTime" format="yyyy/MM/dd 23:59:59" is-query="true"/>
            </div>

        </panel_heading_search>
        <div class="panel-body">
            <div kendo-grid="frozenHeaderGrid" options="mainGridOptions">
             <div k-detail-template>
                <kendo-tabstrip>
                    <ul>
                        <li class="k-state-active" ng-click="hideCreate(dataItem)">明细信息</li>
                        <li>基本信息</li>
                        <li>操作日志</li>
                    </ul>

                    <!--明细信息-->
                    <div>
                        <div kendo-grid="frozenDetailGrid" k-options="headerDetailOptions(dataItem)"></div>
                    </div>
                    <!--基本信息-->
                    <div>
                        <div ng-include="'/app/tmpl/factoring/frozenBasic.html'"></div>
                    </div>
                    <!--操作日志-->
                    <div>
                        <div kendo-grid k-options="logOptions(dataItem.id,'FROZEN')"></div>
                    </div>

                </kendo-tabstrip>
             </div>
            </div>
        </div>

    </div>


    <div class="k-popup-edit-form k-window-content k-content ng-scope" kendo-window="frozenRejectPopup" k-title="'拒绝质押'"
         k-resizable="false" k-modal="true" k-visible="false">
        <div class="k-edit-form-container">
            <div class="pure-body p-t-10">

                <div class="pure-control-group p-b-5">
                    <label>质押单号</label>
                    <span></span>
                    <input type="text" name="frozenRejectModel.frozenId" id="frozenRejectModel.frozenId" ng-model="frozenRejectModel.frozenId"  disabled/>
                </div>


                <div class="pure-control-group">
                    <label>拒绝原因</label>
                    <span></span>
                    <textarea class="tear-text" clos="30" id="frozenRejectModel.rejectReason" name="frozenRejectModel.rejectReason" ng-model="frozenRejectModel.rejectReason" maxlength="200"  required/>
                </div>

            </div>
            <div class="k-edit-buttons k-state-default">
                <a class="k-button k-button-icontext k-primary k-grid-update" ng-click="frozenRejectConfirm($event)"><span
                        class="k-icon k-update"></span>确定</a>
                <a class="k-button k-button-icontext k-grid-cancel" href="#" ng-click="frozenRejectClose()"><span
                        class="k-icon k-cancel"></span>关闭</a>
            </div>

        </div>
    </div>


</div>



<!-- 新增/编辑模版 -->
<script id="frozenHeader-kendo-template" type="text/x-kendo-template">
    <div class="edit-form-container">
        <div class="pure-body p-t-10">

            <div class="pure-control-group p-b-5 pure-5">
                <label>质押单号</label>
                <input type="text" value="自动生成" disabled="disabled"/>
            </div>


            <div class="pure-control-group p-b-5 pure-5">
                <label>质押类型</label>
                <div class="panel-select">
                    <l-select src="FactoringType" name="factoringType" id="factoringType" required></l-select>
                </div>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>货主</label>
                <div class="select-wrapper" ng-if="dataItem.isNew()">
                    <div class="select-border"></div>
                    <wms-ui-select  ui-select-name="cargoOwnerId" ui-select-id="cargoOwnerId" src="cargoOwnerSrc"   on-select=$parent.cargoOwnerIdChange($item,$models) required></wms-ui-select>
                </div>
                <span ng-if="!dataItem.isNew()" class="inputDisbled"    ng-model="dataItem.cargoOwnerId"  ng-bind="dataItem.cargoOwnerId|cargoOwnerFormat:'cargoOwnerId'" />
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>质押开始时间</label>
                <wms-Date-Time-Picker id="factoringStartTime" format="yyyy/MM/dd"   required/>
            </div>


            <div class="pure-control-group p-b-5 pure-5">
                <label>质押结束时间</label>
                <wms-Date-Time-Picker id="factoringEndTime" format="yyyy/MM/dd"   required/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>提交机构</label>
                <div class="select-wrapper">
                    <div class="select-border"></div>
                    <wms-ui-select ui-select-name="factoringOrganizeId" ui-select-id="factoringOrganizeId" src="organizationsSrc" on-select=$parent.factoringOrganizeIdChange($item,$models) required></wms-ui-select>
                </div>
            </div>


            <div class="pure-control-group p-b-5 pure-5">
                <label>总数量</label>
                <input id="totalQty" name="totalQty" type="text"  disabled/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>总金额</label>
                <input id="totalAmount" name="totalAmount" type="text"  disabled/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>总箱数</label>
                <input id="totalCartonQty" name="totalCartonQty" type="text"  disabled/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>总净重</label>
                <input id="totalNetWeight" name="totalNetWeight" type="text"  disabled/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>总毛重</label>
                <input id="totalGrossWeight" name="totalGrossWeight" type="text"  disabled/>
            </div>

            <div class="pure-control-group p-b-5">
                <label>总体积</label>
                <input id="totalVolume" name="totalVolume" type="text" disabled/>
            </div>


        </div>
    </div>

</script>


<script id="frozenDetail-kendo-template" type="text/x-kendo-template">
    <div class="edit-form-container">
        <div class="pure-body p-t-10">

            <div class="pure-control-group p-b-5 pure-5">
                <label>商品</label>
                <input type="hidden" id="skuId" name="skuId"/>
                <input ng-if="dataItem.isNew()" id="skuName" name="skuName" type="text" ng-click="windowOpen(this)" readonly="readonly"/>
                <span ng-if="!dataItem.isNew()" class="inputDisbled"  ng-model="dataItem.skuName" ng-bind="dataItem.skuName" />
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>商品编码</label>
                <input id="sku" name="sku" type="text" disabled/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>商品条码</label>
                <input id="skuBarcode" name="skuBarcode" type="text" disabled/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>批次号</label>
                <input id="workGroupNo" name="workGroupNo" type="text" disabled/>
            </div>


            <div class="pure-control-group p-b-5 pure-5">
                <label>存储库房</label>
                <span id="storageRoomId" name="storageRoomId" ng-bind="dataItem.storageRoomId|storageRoomFormat:'storageRoomId'" class="inputDisbled"/>
                <!--<input id="storageRoomId" name="storageRoomId" ng-bind="dataItem.storageRoomId|storageRoomFormat:'storageRoomId'" type="text" disabled/>-->
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>最大可质押数量</label>
                <input ng-if="dataItem.isNew()" id="maxFrozenQty" name="maxFrozenQty" ng-model="maxFrozenQty" type="text" disabled/>
                <input ng-if="!dataItem.isNew()"   disabled/>
            </div>


            <div class="pure-control-group p-b-5 pure-5">
                <label>质押数量</label>
                <input id="factoringQty" name="factoringQty" type="text"  ng-model="factoringQty" ng-change="alertChoseSku(parentGrid)" required/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>参考单价</label>
                <input id="factoringPrice" name="factoringPrice" type="text" ng-model="factoringPrice" ng-change="computeTotalAmount()"  onlyPositiveNumberWide required/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>总金额</label>
                <input id="totalPrice" name="totalPrice" type="text"  disabled/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>净重</label>
                <input id="netWeight" name="netWeight" type="text" onlyPositiveNumberWide/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>毛重</label>
                <input id="grossWeight" name="grossWeight" type="text" onlyPositiveNumberWide/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>体积</label>
                <input id="volume" name="volume" type="text" onlyPositiveNumberWide/>
            </div>

            <div class="pure-control-group" ></div>


            <div class="pure-control-group">
                <label>描述</label>
                <textarea class="tear-text" clos="50" id="description" name="description" />
            </div>

        </div>
    </div>
</script>

<!--商品选择-->
<div kendo-window="frozenInventoryPopup" k-title="'质押商品选择'" k-modal="true"
     k-resizable="false"
     k-width="1000" k-height="400" k-visible="false"
     k-content="{ url: './tmpl/popup/frozenInventory.html' }"></div>


