<div class="content-wrap" ng-controller="printTempController">
    <div class="panel panel-default">
        <panel_heading_search bind-ui="printTempHeaderGrid">
            <div class="panel-group">
                <label>所属平台</label><input type="text" ng-model="query.projectCode" /></div>
            <div class="panel-group">
                <label>模板名称</label><input type="text" ng-model="query.reportName" /></div>
        </panel_heading_search>
        <div class="panel-body">
            <div kendo-grid="printTempHeaderGrid" options="mainGridOptions"></div>
        </div>
    </div>
    <!--  打印设置新增-->
    <div class="k-popup-edit-form k-window-content k-content ng-scope" kendo-window="templatePopup" k-title="'编辑模版'" k-modal="false"  k-visible="false" k-resizable="false">
        <div class="k-edit-form-container">
            <div class="pure-body p-t-10">
                <div class="pure-control-group p-b-5">
                    <label>所属平台</label>
                    <input id="projectCode" name="projectCode" ng-model="printTemp.projectCode" type="text" />
                </div>
                <div class="pure-control-group p-b-5">
                    <label>模板名称</label>
                    <input id="reportName" name="reportName" ng-model="printTemp.reportName" type="text" required/>
                </div>
                <div class="pure-control-group p-b-5" >
                    <label>模版映射</label>
                    <div class="panel-select">
                        <r-select src="printMapSrc" name="reportCategoryCode" ng-change="change(this)"  id="reportCategoryCode"></r-select>
                    </div>
                </div>
                <div class="pure-control-group p-b-5">
                    <label>是否默认</label>
                    <input id="isDefault" name="isDefault" ng-model="printTemp.isDefault" type="checkbox" value="1" checked="checked"/>
                </div>

                <div class="pure-control-group p-b-5" >
                    <label>高度</label>
                    <input id="pageLength" name="pageLength" ng-model="printTemp.pageLength"  type="text" required/>&nbsp;&nbsp;(0.1mm)
                </div>

                <div class="pure-control-group p-b-5" >
                    <label>宽度</label>
                    <input id="pageWidth" name="pageWidth" ng-model="printTemp.pageWidth"  type="text" required/>&nbsp;&nbsp;(0.1mm)
                </div>

                <div class="pure-control-group p-b-5" >
                    <label>纸张方向</label>
                    <div class="panel-select">
                        <select ng-model="printTemp.pageOri" ng-options=" d.key for d in pageOriAll  track by d.value" ><option value="">--请选择--</option> </select>
                    </div>
                </div>

                <div class="pure-control-group p-b-5" >
                    <label>打印机</label>
                    <div class="panel-select">
                        <select ng-model="printer" ng-options=" d.key for d in allPrinter  track by d.value" ><option value="">--请选择打印机--</option> </select>
                    </div>
                </div>

                <div class="k-edit-buttons k-state-default">
                    <a class="k-button k-button-icontext k-primary k-grid-update"  ng-click="saveTemplate($event)"><span class="k-icon k-update"></span>确定</a>
                    <a class="k-button k-button-icontext k-primary k-grid-update"  ng-click="setTemplate($event)"><span class="k-icon k-update"></span>设置模版</a>
                    <a class="k-button k-button-icontext k-grid-cancel"  ng-click="templateClose()"><span class="k-icon k-cancel"></span>关闭</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<object id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0>-->
    <!--<embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0 pluginspage="install_lodop32.exe"></embed>-->
<!--</object>-->