<style>
    .region-tree {
        height:500px;
        overflow-y: auto;
        padding:15px;
        border:2px dashed #e5e5e5;
    }
    .region-tree ul li {
        list-style: none;
    }
    .fa {
        text-align: center;
        vertical-align: middle;
    }
    .region-tree a.fa {
        height: 1em;
        width: 1em;
    }
    .region-tree .fa-caret-down:before {
        content: "\f0d7";!important;
    }
    .region-tree .region-options {
        opacity: 0.3;
        color:#555;
    }
    .region-tree .region-options:hover {
        opacity: 0.6;
    }
    .region-tree-list li span:hover {
        cursor:pointer;
        color:#333;
    }
    .region-tree-list .selected {
        background-color: #e5e5e5;
        color:#000;
    }
</style>

<div class="demo-section k-content" ng-controller="moduleController" style="width: 100%;height:700px;">
    <div class="box-col" style="width: 100%;height:100%">
        <div kendo-splitter="authorModuleSplitter"
             k-panes="[{size: '30%'},{size: '70%'}]"
             k-orientation="'horizontal'"
             k-rebind="'horizontal'" style="width: 100%;height:100%">
            <div>
                <h4><span class="label label-default">模块树信息</span></h4>
                <script type="text/ng-template"  id="tree_item_renderer.html">
                    <a href="javascript:;" ng-if="nodes.length > 0" ng-click="toggleView($event,data)"  class="fa fa-caret-right" ng-class="{'fa-caret-down': data.nodes.length>0 }"></a>
                    <span ng-click="selected($event,data)">{{data.name}}</span>
                    <a ng-click="add(data)" href="javascript:;" class="region-options"><i class="fa fa fa-plus-square-o fa-fw"></i></a>
                    <a ng-click="delete($event, data, parent, $index)" href="javascript:;" class="region-options" ng-show="nodes.length <= 0"><i class="fa fa-minus-square-o fa-fw"></i></a>
                    <ul ng-show="data.show">
                        <li ng-repeat="data in nodes track by data.id" ng-init="parent = nodes; nodes = data.items" ng-include="'tree_item_renderer.html'"></li>
                    </ul>
                </script>

                <ul class="region-tree-list" style="padding-left: 5px;">
                    <li ng-repeat="data in tree track by data.id" ng-init="parent = tree; nodes = data.items" ng-include="'tree_item_renderer.html'" ></li>
                </ul>
            </div>

            <div kendo-splitter="authorModuleRightSplitter"
                 k-panes="[{ size: '50%' },{ size: '50%' }]"
                 k-orientation="'vertical'"
                 k-rebind="'vertical'">
                <div >
                    <h3>模块设置</h3>
                    <div class="k-edit-label">
                        <label for="moduleName" style="color: red;">模块名称</label>
                    </div>
                    <div class="k-edit-field">
                        <input id="moduleName" ng-model="module.moduleName" ng-change="changeModuleName()"  name="moduleName" required/>
                    </div>
                    <div class="k-edit-label">
                        <label for="modulePath" style="color: red;">模块路径</label>
                    </div>
                    <div class="k-edit-field">
                        <input id="modulePath" kendo-text ng-model="module.modulePath" name="modulePath"  placeholder="文件存放路径" required/>
                    </div>
                    <div class="k-edit-label">
                        <label for="icons">图标</label>
                    </div>
                    <div class="k-edit-field">
                        <input id="icons" kendo-text ng-model="module.icons" name="icons" placeholder="font-awesome图标库"/>
                    </div>
                    <div class="k-edit-label">
                        <label for="position">显示顺序</label>
                    </div>
                    <div class="k-edit-field">
                        <input id="position" kendo-text ng-model="module.position" name="position" required/>
                    </div>
                    <div class="k-edit-label">
                        <label for="moduleType">类型</label>
                    </div>
                    <div class="k-edit-field">
                        <select name="moduleType" id="moduleType" ng-model="module.moduleType">
                            <option value="Web">Web</option>
                            <option value="Rf">Rf</option>
                        </select>
                    </div>
                    <div class="k-edit-label">
                        <label for="isVisible">是否可见</label>
                    </div>
                    <div class="k-edit-field">
                        <input type="checkbox" name="isVisible" id="isVisible" ng-checked="module.isVisible" ng-model="module.isVisible" checked="checked" value="1">
                    </div>
                    <div class="k-edit-label">
                        <label for="description">模块说明</label>
                    </div>
                    <div class="k-edit-field">
                        <textarea cols="30" rows="2" id="description" ng-model="module.description" name="description"/>
                    </div>
                    <div class="k-edit-field">
                        <a class="k-button k-button-icontext k-primary k-grid-update" ng-click="saveModule()">
                            <span class="k-icon k-update">保存</span>
                        </a>
                    </div>
                </div>

                <div>
                    <h3>操作列表</h3>
                    <div kendo-grid="authorModuleGrid" options="mainGridOptions"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- 弹出页面-->
<script id="editPop-template" type="text/x-kendo-template">
    <div class="edit-form-container">
        <div class="window-form pure-body">
            <div class="pure-control-group p-b-10">
                <label>操作名称</label>
                <input id="actionName"  name="actionName" type="text" required/>
            </div>
            <div class="pure-control-group p-b-10">
                <label>操作标识</label>
                <input id="actionCode"  name="actionCode" type="text" required/>
            </div>
            <div class="pure-control-group p-b-10">
                <label>url</label>
                <input id="url" name="url" type="text" required/>
            </div>

            <div class="pure-control-group p-b-10">
                <label>http方法</label>
                <div class="select-wrapper">
                    <div class="select-border"></div>
                    <l-select src="HttpMethod" name="httpMethod" id="httpMethod" required></l-select>
                </div>
            </div>

            <div class="pure-control-group p-b-10">
                <label>相关url</label>
                <input id="relationUrl" name="relationUrl" type="text" />
            </div>
            <div class="pure-control-group p-b-10">
                <label>是否可用</label>
                <input type="checkbox" id="isActive"  value="1" name="isActive"/>
            </div>
            <!--<div class="pure-control-group p-b-10">-->
                <!--<label>默认操作</label>-->
                <!--<input type="checkbox" id="isModuleDefault" value="1" name="isModuleDefault"/>-->
            <!--</div>-->
            <div class="pure-control-group p-b-10">
                <label>描述</label>
                <input id="description" name="description" type="text"/>
            </div>
        </div>
   </div>
</script>