<div class="content-wrap" ng-controller="roleController">
    <div class="panel panel-default">
        <panel_heading_search bind-ui="roleGrid">
            <div class="panel-group ">
                <label>角色名称</label>
                <input type="text" ng-model="query.roleName" />
            </div>
       </panel_heading_search>
    </div>
    <div class="panel-body">
       <div kendo-grid="roleGrid" options="mainGridOptions">
           <div k-detail-template>
               <div>
                   <div kendo-grid="roleUserGrid" k-options="roleUserOptions(dataItem)"></div>
               </div>
           </div>
       </div>
    </div>
</div>

<div kendo-window="grantPop" k-modal="true" k-resizable="false"  k-width="'500px'" k-title="'授权'" k-on-open="win1visible = true" k-on-close="win1visible = false" style="display: none">
</div>
<script id="grantPop-template" type="text/kendo-ui-template">
    <div ng-controller="grantAuthorRoleController">
    <div>
        <input type="hidden" id="roleName" ng-model="model.roleName" name="roleName"/>
    </div>
    <div>
        <div class="mod-info ">
            <div>
                <button class="btn order-btn" ng-click="expandAll()">全部展开</button>&nbsp;&nbsp;
                <button class="btn order-btn" ng-click="collapseAll()">全部收缩</button>
            </div>
            <div kendo-tree-view="tree"
                 options="naviOptions">
            </div>
        </div>
    </div>
    <div class="k-edit-buttons k-state-default" style="text-align: center">
        <a class="k-button k-button-icontext k-primary k-grid-update m-r-8" ng-click="saveRoleAction()">
            <span class="k-icon k-update"></span>保存</a>
        <a class="k-button k-button-icontext k-grid-cancel m-r-8" ng-click="closePop()">
            <span class="k-icon k-cancel"></span>取消</a>
    </div>
</div>

</script>

<script id="roleEditor" type="text/x-kendo-template">
    <div class="edit-form-container">
        <div class="window-form pure-body">
            <div class="pure-control-group p-b-5 pure-5">
                <label>角色名</label>
                <input type="text" name="roleName" id="roleName" required/>
            </div>
            <div class="pure-control-group p-b-5 pure-5">
                <label>是否可用</label>
                <input type="checkbox" name="isActive" id="isActive"  value="1" checked="checked"/>
          </div>
        </div>
    </div>
</script>