<div class="content-wrap" ng-controller="warehouseController">
    <div class="panel panel-default">
        <!--查询条件-->
        <panel_heading_search bind-ui="warehouseGrid">
            <div class="panel-group ">
                <label>仓库编号</label>
                <input type="text" ng-model="query.warehouseNo"/>
            </div>
            <div class="panel-group ">
                <label>仓库名称</label>
                <input type="text" ng-model="query.warehouseName"/>
            </div>
        </panel_heading_search>
    </div>

    <div class="panel-body">
        <!--主表-->
        <div kendo-grid="warehouseGrid" options="mainGridOptions">
            <div k-detail-template>
                <!--子表-->
                <kendo-tabstrip>
                  <ul>
                      <li class="k-state-active">用户信息</li>
                  </ul>
                  <!-- 用户信息 -->
                  <div>
                      <div  kendo-grid="warehouseDetailGrid" k-options="detailOptions(dataItem)">
                      </div>
                  </div>
                </kendo-tabstrip>
            </div>
        </div>
    </div>

    <!-- 仓库分配用户 -->
    <div class="k-popup-edit-form k-window-content k-content ng-scope" kendo-window="permissionPopup"
         k-title="'分配用户'" k-resizable="false" k-modal="true" k-visible="false">
         <div class="k-edit-form-container">
           <div kendo-grid="userGrid" style="width:800px;height:300px;" k-options="userGridOptions"></div>
         </div>
    </div>

</div>

<script id="warehouseEditor" type="text/x-kendo-template">
    <div class="edit-form-container">
        <div class="pure-body windown-form">
            <div class="pure-control-group p-b-5 pure-5">
                <label>仓库编号</label>
                <input type="text" name="warehouseNo" id="warehouseNo" required/>
            </div>
            <div class="pure-control-group p-b-5 pure-5">
                <label>仓库名称</label>
                <input type="text" name="warehouseName" id="warehouseName" required/>
            </div>
            <div class="pure-control-group p-b-5 pure-5">
                <label>仓库类型</label>
                <div class="select-wrapper">
                    <div class="select-border"></div>
                    <!-- ng指令 l-selsct ，详查 directive.js 文件  -->
                    <l-select src="WarehouseType" name="typeCode" id="typeCode" required></l-select>
                </div>
            </div>
            <div class="pure-control-group p-b-5 pure-5">
                <label>地址</label>
                <input type="text" name="address" id="address"/>
            </div>
            <div class="pure-control-group p-b-5 pure-5">
                <label>国家</label>
                <input type="text" name="country" id="country"/>
            </div>
            <div class="pure-control-group p-b-5 pure-5">
                <label>省区</label>
                <input id="state" name="state" type="text"/>
            </div>
            <div class="pure-control-group p-b-5 pure-5">
                <label>城市</label>
                <input id="city" name="city" type="text"/>
            </div>
            <div class="pure-control-group p-b-5 pure-5">
                <label>县区</label>
                <input id="district" name="district" type="text"/>
            </div>
            <div class="pure-control-group p-b-5 pure-5">
                <label>邮政编码</label>
                <input id="zip" name="zip" type="text"/>
            </div>
            <div class="pure-control-group p-b-5 pure-5">
                <label>联系人</label>
                <input id="contact" name="contact" type="text"/>
            </div>
            <div class="pure-control-group p-b-5 pure-5">
                <label>联系电话</label>
                <input id="telephone" name="telephone" type="text"/>
            </div>
            <div class="pure-control-group p-b-5 pure-5">
                <label>传真</label>
                <input id="fax" name="fax" type="text"/>
            </div>
            <div class="pure-control-group p-b-5 pure-5">
                <label>电子信箱</label>
                <input id="email" name="email" type="text"/>
            </div>
            <div class="pure-control-group p-b-5 pure-5">
                <label>是否可用</label>
                <input type="checkbox" name="isActive" id="isActive" value="1" checked="checked"/>
            </div>
            <div class="pure-control-group p-b-5">
                <label class="panel-label-left">备注</label>
                <textarea class="tear-text" role="20" cols="52" rows="5" id="description" name="description"></textarea>
            </div>
        </div>
    </div>
</script>


