<div class="content-wrap" ng-controller="popupSkuInventoryController">
  <div class="panel panel-default">
    <div class="panel-heading" ng-show="!hideSkuInventoryPopupCondition">
      <form class="pure-form pure-form-land" bind-ui="skuInventoryPopupGrid">
        <div class="panel-box-main">
          <div class="pure-control-group p-b-5 dp-i-b">
            <label>商品编码:</label>
            <input type="text" ng-model="query.sku" size="15"/>
          </div>
          <div class="pure-control-group p-b-5 dp-i-b m-r-10">
            <label>商品名称:</label>
            <input type="text" ng-model="query.itemName" size="15" />
          </div>
          <div class="pure-control-group p-b-5 dp-i-b">
            <wms-search-button></wms-search-button>
            <wms-reset-button></wms-reset-button>
          </div>
        </div>
      </form>
    </div>
    <div kendo-grid="skuInventoryPopupGrid" options="mainGridOptions"></div>
    <br>
    <div class="k-edit-buttons k-state-default" style="text-align: center;">
        <a class="k-button k-button-icontext k-primary k-grid-update" href="#" ng-click="skuInventory()">
          <span class="k-icon k-update"></span>确定</a>
        <a class="k-button k-button-icontext k-grid-cancel" href="#" ng-click="closeSkuInventoryWindow()">
          <span class="k-icon k-cancel"></span>取消</a>
    </div>
    <br>
  </div>
</div>