<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huamengtong.wms.main.mapper.CargoOwnerMapper">
    <resultMap id="CargoOwnerResultMap" type="com.huamengtong.wms.entity.main.TWmsCargoOwnerEntity">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="tenant_id" jdbcType="BIGINT" property="tenantId" />
        <result column="cargo_owner_no" jdbcType="VARCHAR" property="cargoOwnerNo" />
        <result column="is_active" jdbcType="TINYINT" property="isActive" />
        <result column="short_name" jdbcType="VARCHAR" property="shortName" />
        <result column="full_name" jdbcType="VARCHAR" property="fullName" />
        <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
        <result column="country" jdbcType="VARCHAR" property="country" />
        <result column="province" jdbcType="VARCHAR" property="province" />
        <result column="city" jdbcType="VARCHAR" property="city" />
        <result column="area" jdbcType="VARCHAR" property="area" />
        <result column="zip" jdbcType="VARCHAR" property="zip" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="contact" jdbcType="VARCHAR" property="contact" />
        <result column="telephone" jdbcType="VARCHAR" property="telephone" />
        <result column="fax" jdbcType="VARCHAR" property="fax" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="is_del" jdbcType="TINYINT" property="isDel" />
        <result column="create_user" jdbcType="VARCHAR" property="createUser" />
        <result column="create_time" jdbcType="BIGINT" property="createTime" />
        <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
        <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`,`tenant_id`,`cargo_owner_no`,`is_active`,`short_name`,`full_name`,`type_code`,`country`,
        `province`,`city`,`area`,`zip`,`address`,`contact`,`telephone`,`email`,`description`,`is_del`,
        `create_user`,`create_time`,`update_user`,`update_time`,`fax`
    </sql>



    <!--query where语句-->
    <sql id="queryWhereClause">
        <where>
            <if test="id !=null and id != 0">
                AND id = #{id,jdbcType=BIGINT}
            </if>
            <if test="cargoOwnerNo != null">
                AND cargo_owner_no = #{cargoOwnerNo,jdbcType=VARCHAR}
            </if>
            <if test="fullName != null">
                AND full_name = #{fullName,jdbcType=VARCHAR}
            </if>
            <if test="shortName != null">
                AND short_name = #{shortName,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <!-- query limit 字句 -->
    <sql id="queryLimitClause">
        <if test="offset != null and offset >= 0 and pageSize != null and pageSize > 0">
            LIMIT ${offset}, ${pageSize}
        </if>
    </sql>

    <!-- order by 子句 -->
    <sql id="queryOrderByClause">
        <if test="orderBy != null">
            ORDER BY ${orderBy}
        </if>
        <if test="orderBy == null">
            ORDER BY create_time desc
        </if>
    </sql>

    <!--通过id来查询对象-->
    <select id="queryOwnerById" resultMap="CargoOwnerResultMap" parameterType="com.huamengtong.wms.entity.main.TWmsCargoOwnerEntity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_smart_cargo_owner
        WHERE id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectCargoOwnerByCargoOwnerNo" resultMap="CargoOwnerResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_smart_cargo_owner
        WHERE cargo_owner_no = #{cargoOwnerNo,jdbcType=VARCHAR}
    </select>



    <select id="queryOwnerPages" resultMap="CargoOwnerResultMap" parameterType="com.huamengtong.wms.entity.main.TWmsCargoOwnerEntity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_smart_cargo_owner
        <include refid="queryWhereClause"/>
        <include refid="queryOrderByClause"/>
        <include refid="queryLimitClause" />
    </select>

     <!--查询记录条数-->
    <select id="queryCargoOwnerPageCount"  resultType="java.lang.Integer" parameterType="com.huamengtong.wms.entity.main.TWmsCargoOwnerEntity" >
        SELECT count(1)
        FROM t_smart_cargo_owner
        <include refid="queryWhereClause"/>
        LIMIT 1
    </select>

    <select id="selectALLCargoOwners" resultMap="CargoOwnerResultMap" >
        SELECT
        <include refid="Base_Column_List"/>
         FROM t_smart_cargo_owner
        <include refid="queryWhereClause"/>
    </select>

    <insert id="insertOwner" parameterType="com.huamengtong.wms.entity.main.TWmsCargoOwnerEntity">
        INSERT  INTO t_smart_cargo_owner
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="tenantId != null">
                tenant_id,
            </if>
            <if test="cargoOwnerNo != null">
                cargo_owner_no,
            </if>
            <if test="isActive != null">
                is_active,
            </if>
            <if test="shortName != null">
                short_name,
            </if>
            <if test="fullName != null">
                full_name,
            </if>
            <if test="typeCode != null">
                type_code,
            </if>
            <if test="country != null">
                country,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="area != null">
                area,
            </if>
            <if test="zip != null">
                zip,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="contact != null">
                contact,
            </if>
            <if test="telephone != null">
                telephone,
            </if>
            <if test="fax != null">
                fax,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="tenantId != null">
                #{tenantId,jdbcType=BIGINT},
            </if>
            <if test="cargoOwnerNo != null">
                #{cargoOwnerNo,jdbcType=VARCHAR},
            </if>
            <if test="isActive != null">
                #{isActive,jdbcType=BIT},
            </if>
            <if test="shortName != null">
                #{shortName,jdbcType=VARCHAR},
            </if>
            <if test="fullName != null">
                #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="typeCode != null">
                #{typeCode,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                #{country,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                #{area,jdbcType=VARCHAR},
            </if>
            <if test="zip != null">
                #{zip,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="contact != null">
                #{contact,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="fax != null">
                #{fax,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="isDel != null">
                #{isDel,jdbcType=BIT},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="updateOwner" parameterType="com.huamengtong.wms.entity.main.TWmsCargoOwnerEntity">
        UPDATE t_smart_cargo_owner
        <set>
            <if test="cargoOwnerNo != null">
                cargo_owner_no = #{cargoOwnerNo,jdbcType=VARCHAR},
            </if>
            <if test="isActive != null">
                is_active = #{isActive,jdbcType=BIT},
            </if>
            <if test="shortName != null">
                short_name = #{shortName,jdbcType=VARCHAR},
            </if>
            <if test="fullName != null">
                full_name = #{fullName,jdbcType=VARCHAR},
            </if>
            <if test="typeCode != null">
                type_code =  #{typeCode,jdbcType=VARCHAR},
            </if>
            <if test="country != null">
                country = #{country,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                province =  #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                area =  #{area,jdbcType=VARCHAR},
            </if>
            <if test="zip != null">
                zip =  #{zip,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="contact != null">
                contact =  #{contact,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                telephone =  #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="fax != null">
                fax = #{fax,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email =  #{email,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="isDel != null">
                is_del = #{isDel,jdbcType=BIT},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteOwner" parameterType="java.lang.Long" >
        delete
        from t_smart_cargo_owner
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <select id="selectByIds" resultMap="CargoOwnerResultMap" >
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_smart_cargo_owner
        WHERE id in
        <foreach collection="ids" index="index" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=BIGINT}
        </foreach>
    </select>



</mapper>
