<link rel="stylesheet" href="styles/portlet/css/components.css"/>

<div class="row" ng-controller="portletController">
    <div class="col-md-6">
        <div class="portlet light bordered "> <!-- class="portlet box blue & light bordered & green-meadow" -->
            <div class="portlet-title"> 
                <div class="caption font-red-intense">
                    <i class="fa fa-tasks"></i>
                    <span class="caption-subject bold uppercase"> 今日任务</span>
                    <span class="caption-helper">Today Task</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse" data-original-title="" title=""> </a>
                    <a href="#" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                    <a href="" class="reload" data-original-title="" title=""> </a>
                    <a href="" class="fullscreen" data-original-title="" title=""> </a>
                    <a href="" class="remove" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div data-toggle="context" data-target="#context-menu" style="height: 165px;">
                    <ul class="list-group">
                        <a class="list-group-item" href="#">
                            <span class="badge">5</span>
                            入仓接收
                        </a>
                        <a class="list-group-item " href="#">
                            <span class="badge">18</span>
                            拣货任务
                        </a>
                        <a class="list-group-item disabled" href="#">
                            <span class="badge">2</span>
                            盘点任务
                        </a>
                        <a class="list-group-item " href="#">
                            <span class="badge">20</span>
                            出仓交接
                        </a>
                    </ul>
                  </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="portlet light bordered "> <!-- class="portlet box blue" -->
            <div class="portlet-title"> 
                <div class="caption font-red-intense">
                    <i class="fa fa-bar-chart"></i>
                    <span class="caption-subject bold uppercase"> 绩效看板</span>
                    <span class="caption-helper">Performance Panel</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse" data-original-title="" title=""> </a>
                    <a href="#" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                    <a href="" class="reload" data-original-title="" title=""> </a>
                    <a href="" class="fullscreen" data-original-title="" title=""> </a>
                    <a href="" class="remove" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div data-toggle="context" data-target="#context-menu" style="height: 165px;">
                    <div id="chart"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="portlet light bordered "> <!-- class="portlet box blue" -->
            <div class="portlet-title"> 
                <div class="caption font-red-intense">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="caption-subject bold uppercase"> 新收订单</span>
                    <span class="caption-helper">New Orders</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse" data-original-title="" title=""> </a>
                    <a href="#" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                    <a href="" class="reload" data-original-title="" title=""> </a>
                    <a href="" class="fullscreen" data-original-title="" title=""> </a>
                    <a href="" class="remove" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div data-toggle="context" data-target="#context-menu">
                    <p>没有单据信息.</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="portlet light bordered "> <!-- class="portlet box blue" -->
            <div class="portlet-title"> 
                <div class="caption font-red-intense">
                    <i class="fa fa-truck"></i>
                    <span class="caption-subject bold uppercase"> 出库订单</span>
                    <span class="caption-helper">Shipment Orders</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse" data-original-title="" title=""> </a>
                    <a href="#" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                    <a href="" class="reload" data-original-title="" title=""> </a>
                    <a href="" class="fullscreen" data-original-title="" title=""> </a>
                    <a href="" class="remove" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div data-toggle="context" data-target="#context-menu">
                    <p>没有单据信息.</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>

        

</div>
