
<!--navbar-->
<div class="app-header navbar" ng-include="'tmpl/layout/nav.html'"></div>
<!--aside-->
<div class="app-aside hidden-xs" ng-include="'tmpl/layout/aside.html'"></div>
<!--content-->


<div class="app-content">
  <div class="bread-bar m-b-10">
    <h2>{{title}}</h2>
    <div class="bread-list">
      <ui-breadcrumbs displayname-property="title" template-url="tmpl/layout/uiBreadcrumbs.tpl.html" abstract-proxy-property="ui.sample">
      </ui-breadcrumbs>
    </div>
  </div>
  <ui-view class="app-content-body fade-in-up">
     <div  class="container" ng-include="'tmpl/layout/sidebar_portlet.html'" style="width:100%"></div>
  </ui-view>

  <!--warehouse-->
  <div id="switchWarehouseWin" style="display: none">
    <div class="warehouse-content">
      <table>
        <tr>
          <td width="250" ng-repeat="warehouse in warehouseList" ng-click="switchWarehouse(warehouse)">
            <div class="warehouse-list">
              <div class="warehouse-box">
                <i></i>
                <p title="{{warehouse.key}}">{{warehouse.key}}</p>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>
